* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.header {
  height: 100vh;
  background-image: url(https://github.com/jepery/My-Portfolio/blob/main/images/peach.png?raw=true);
  background-size: cover;
  background-position: center;
}

.header-brand {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 45px;
}

.header-brand__span {
  color: #e7a900;
}

nav {
  background-color: rgba(155, 134, 90, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 7%;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid black;
}

.profile-img {
  border-radius: 50%;
  width: 300px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.header-text h1 {
  font-size: 70px;
}

.about {
  background-color: #f0cd84;
  height: 80vh;
}

.about-text {
  /* background-color: rgb(38, 142, 190); */
  color: #000000;
  margin: auto;
  text-align: center;
  width: 50%;
}

.about-text h2 {
  font-size: 60px;
  /* background-color: bisque; */
  padding-top: 6rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.about-text p {
  padding-top: 2rem;
  line-height: 1.8rem;
  text-align: center;
  color: #000000;
}

.about-skills {
  display: flex;
  width: 50%;
  color: #000000;
  flex-direction: row;
  margin: auto;
  padding-top: 3%;
  justify-content: center;
}

.about-skills h3 {
  padding-right: 5%;
}

.about-skills__h3--1 {
  border-bottom: 3px solid black;
  width: 5%;
  margin-right: 50px;
}

.portfolio {
  height: 100vh;
  background-color: rgb(253, 232, 207);
  padding: 50px 0;
  text-align: center;
}

.portfolio h2 {
  margin-top: 1%;
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.portfolio__container {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.portfolio__img {
  border-radius: 10px;
  position: relative;
}

.portfolio__img img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 10px;
  display: block;
}

.portfolio__btn {
  background-color: #e7a900;
  color: #000000;
  height: 84px;
  width: 287px;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.5% 1%;
}

.contact {
  background-color: #f0cd84;
  height: 100vh;
  margin-top: 0px;
  padding: 5%;
}

.contact__row {
  display: flex;
  flex-direction: row;
}

.contact h2 {
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #000000;
  margin-right: 15px;
  font-size: 25px;
}

.contact-left__icons {
  margin-top: 15px;
}

.contact-left__icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #000000;
  display: inline-block;
}

.contact-left__icons a:hover {
  color: #fff;
}

.contact__btn {
  text-decoration: none;
  color: #000000;
  margin: 50px auto;
  border: 1px solid #000000;
  padding: 14px 50px;
  border-radius: 6px;
  width: fit-content;
  display: block;
}

.contact__btn--1:hover {
  background: #fff;
}

.contact-right {
  flex-basis: 65%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #fff;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
  border: 6px;
}

.contact__btn.contact__btn--2 {
  display: inline-block;
  background-color: #000000;
  font-size: 18px;
  color: white;
}

.contact__btn--2:hover {
  background: #fff;
  cursor: pointer;
  color: #000000;
}

footer{
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background-color: black;
    font-weight: 300;
    color: #fff;

}

/*------------MEDIA QUERIES-------------*/



/*------------HERO SECTION-------------*/

@media only screen and (max-width: 600px){

    .header{
      background-image: none;
      background-color: #e7a900;
    }

    .profile-img{
      display: block;
      object-fit: cover;
      position: absolute;
      height: 200px;
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

}

/*------------ABOUT SECTION-------------*/



/*------------PORTFOLIO SECTION-------------*/


/*------------CONTACT SECTION-------------*/